@model ADMIN_ASPNET.Models.Cliente

@{
    ViewBag.Title = "Create";
}

<h2>Registro de clientes</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.HiddenFor(model => model.ID)

    <div class="form-group row">
        @Html.Label("Numero del Documento / CUIT", htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-9">
            <input type="text" id="dniCuit" name="dniCuit" class = "form-control">
        </div>
    </div>

    <div class="form-group row">
        @Html.Label("Apellido y Nombre / Razon Social", htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-9">
            <input type="text" id="AYNRazonSocial" name="AYNRazonSocial" class = "form-control">
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(model => model.Telefono, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row">
        <div class="offset-md-3 col-md-9">
            <input type="submit" value="Registrar Cliente" class="btn btn-primary" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Atras", "Index", "Home", null, null)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
