@model IEnumerable<ADMIN_ASPNET.Models.Cliente>

@{
    ViewBag.Title = "Index";
}

<h2>Clientes</h2>


<div class="row">
    <div class="col-sm-3">
        <input type="text" class="col-sm-12" id="filtro" placeholder="DNI o CUIT" />
    </div>
    <div class="col-sm-1">
        @Html.ActionLink("Filtrar", "Filtrar", new { filtro = "filtroplaceholder" }, new { @class = "btn-primary btn", id = "linkFiltro" })
    </div>
</div>


<br />

<table class="table">
    <tr>
        <th>
            Email
        </th>
        <th>
            Telefono
        </th>
        <th>
            Apellido y nombre / Razon Social
        </th>
        <th>
            DNI / CUIT
        </th>
        @if (Context.User.Identity.Name.Split(':')[0] == ADMIN_ASPNET.Models.RolesEmpleados.EMPLEADO_VENTAS.ToString())
        {
            <th></th>
        }

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Empresa.RazonSocial)
                @Html.DisplayFor(modelItem => item.Persona.ApellidoYNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Empresa.CUIT)
                @Html.DisplayFor(modelItem => item.Persona.DNI)
            </td>

            @if (Context.User.Identity.Name.Split(':')[0] == ADMIN_ASPNET.Models.RolesEmpleados.EMPLEADO_VENTAS.ToString())
            {
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.ID }, new { @class = "link-no-decoration" }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.ID }, new { @class = "link-no-decoration" })
                </td>
            }
        </tr>
    }
</table>

<br />
@if (Context.User.Identity.Name.Split(':')[0] == ADMIN_ASPNET.Models.RolesEmpleados.EMPLEADO_VENTAS.ToString())
{
    <div>
        @Html.ActionLink("Nuevo Cliente", "Create", null, new { @class = "btn-primary btn" })
    </div>
}

<script>
    let link = $('#linkFiltro');
    link.on('click', () => {
        var filtro = $("#filtro").val();
        var oldLink = link.attr('href')
        console.log(oldLink);
        link.attr('href', oldLink.replace("filtroplaceholder", filtro))
    });
</script>
