@model IEnumerable<ADMIN_ASPNET.Models.Cliente>

@{
    ViewBag.Title = "Index";
}

<h2>Clientes</h2>

<br />

<table class="table">
    <tr>
        <th>
            Email
        </th>
        <th>
            Telefono
        </th>
        <th>
            Apellido y nombre / Razon Social
        </th>
        <th>
            DNI / CUIT
        </th>
        <th>
            Ultima Venta
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Empresa.RazonSocial)
            @Html.DisplayFor(modelItem => item.Persona.ApellidoYNombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Empresa.CUIT)
            @Html.DisplayFor(modelItem => item.Persona.DNI)
        </td>
        <td>
            @Html.ActionLink("Detalles de la venta", "UltimaVenta", new { id = item.ID }, new { @class = "btn btn-secondary" })
        </td>
    </tr>
}
</table>

<br />

<div>
    @Html.ActionLink("Nuevo Cliente", "Create", null, new { @class = "btn-primary btn" })
</div>
